.navbarzaid {
  transition: background-color 0.1s, color 0.1s;
}
.navbarzaid.scrolledd {
  background-color:#dbdbde;
   border-bottom: 1px solid #004080;

}
.navbarzaid a {
  color: inherit;
  text-decoration: none;
}

.text-dynamic {
  @media (max-width: 767px) {
      color: black !important;
      margin-left: 15px;;
  }
}
